<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataBase" value="database1;database2"/>
		<add key="ConnectionString" value="server=000.00.000.000; user=username;pwd=password;database={0};charset=utf8;convertzerodatetime=true;" />
		<add key="FolderBackup" value="C:/temp/bkp/" />
		<add key="FolderBackupSubmit" value="G:/Meu Drive/BackupDb/" />
		<add key="FolderLog" value="C:/temp/bkp/log/" />
	</appSettings>
</configuration>